asyncpg==0.28.0
fastapi==0.103.1
fastapi-utils==0.2.1
uvicorn==0.23.2
gunicorn==21.2.0
loguru==0.7.2
sentry-sdk==1.31.0
httpx==0.25.0
orjson==3.9.7
passlib==1.7.4
python-multipart==0.0.6
loguru==0.7.2
openpyxl==3.1.5
inference-sdk==0.29.0